*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

/*header*/

header{
    width: 80%;
    margin: 25px auto;
}

h1{
    text-align: center;
    color: deeppink ;
}


main{
    width: 80%;
    margin: 30px auto;
}

/*text1*/
.text1{
    margin: 0px auto;
    text-align: center;
}

/*row*/



.cardmaster{
    margin-top: 45px;   
}
.row .card{
    float: left;
    width: calc(100%/4);
    margin-top: 30px;   
}

.col2{
    margin-left: calc(25%/2);
    margin-right: calc(25%/2);

}

img{
    float: left;
    width: 100px;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.cont-card{
    background-color: black;
    color: white;
    height: 100px;
}

span{
    display: block;
}

a{
    color: aqua;
}


